<p>select-dropdown works!</p>
<div>
    <label style="display: block;">
        <input #selectAllBox [checked]="selectAllBoxes" type="checkbox" (change)=selectAll($event)>
        <span checkbox>
          <span>Select All</span>
        </span>
    </label>

    <div *ngIf="checkBoxValueList">
        <ng-container custom-scrollbar>
            <div  *ngIf="checkBoxValueList.length!=0" style="display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 200px;">
              <div style="width: 100px" *ngFor="let teamS of checkBoxValueList" style="display: inline-flex;">
                  <label style="display: flex;width:40px;">
                    <input [checked]="teamS.checked" [disabled]="teamS.isDisabled" (change)="setSelected(teamS)" type="checkbox">
                    <span checkbox="" [ngClass]="!teamS.isDisabled ? 'disabled' : '' ">{{teamS.id}}</span>
                  </label>
                  <div *ngIf='teamS.values'>
                    <label *ngFor="let item of teamS.values">
                        <input [checked]="item.checked" [disabled]="item.isDisabled" (change)="setSelectedDeep(teamS, item)" type="checkbox">
                        <span checkbox="" *ngIf="!item.isDisabled" class="">{{item.id}}</span>
                    </label>
                  </div>
                </div>
              
            </div>
        </ng-container>
        <button (click)='onSubmit()'>Show/Hide</button>
        <div *ngIf='isSubmitted'>
          <span *ngFor="let teamS of checkBoxValueList">
            <span *ngIf="teamS.checked" class="">{{teamS.id}}</span>
            <br>
            <div *ngIf='teamS.values'>
              <span *ngFor="let team of teamS.values">
              <span *ngIf="team.checked" class="">{{teamS.id}}&nbsp;-{{team.id}}&nbsp;</span>
              </span>
            </div>
          </span>
        </div>
    </div>  
  </div> 
  
  <router-outlet></router-outlet>